# Supabase
VITE_SUPABASE_PROJECT_ID=""
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_SUPABASE_URL=""

# Resend
# Key added to "secrets" on Supabase
RESEND_API_KEY=""

# Cloudfare
# Key added to "secrets" on Supabase
VITE_TURNSTILE_SITE_KEY=""